/* CSS Reset by Josh W Comeau https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* custom css below */

* {
  font-family: 'Courier New', Courier, monospace;
}

#gameboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#playbtn {
  font-size: 1vw;
  width: 8vw;
  height: 5vh;
  min-height: 40px;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
}

#gameboard {
  justify-items: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
  max-width: 30vw;
}

.gameboard-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.1rem;
}

.watermark {
  color: grey;
  font-size: 6vh;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#player-x, #player-o {
  font-size: 1vw;  
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 8vh;
  min-height: 40px;
  width: 20vw;
}

#player-x {
  background-color: #5EB1BF;
}

#player-o {
  background-color: #eba749;
}

#gameover-modal {
  position: fixed;
  width: 40vw;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal-content {
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

#modal-content p {
  color: white;
  text-shadow: 1px 1px 2px black;
}

#modal-content button {
  font-size: 2vh;
  width: 10vw;
  height: 6vh;
  min-height: 40px;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.green {
  background-color: #63bf5e;
}

